{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<div class="container">
    <h1 class="text-center">Edit video Idea</h1>
    <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{idea.title}}" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea name="details"  class="form-control" id="" cols="30" rows="5"  required>{{idea.details}}</textarea>
        </div>
        <button class="btn btn-primary">Update </button>
    </form>
</div>